<div class="container">
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><%= @product.title %>
            </h1>
          </div>
      </div>



        <!-- Portfolio Item Row -->
  <div class="container-fluid  ">
      <div class="container-fluid col-md-6 portfolio-item">
          <div class="show_product">
          <%= image_tag @product.image %>
          </div>
      </div>
      <div class="container-fluid col-md-2 portfolio-div">
      </div>
      <div class="container-fluid col-md-4 portfolio-detail">
        <h3>Art Description</h3>
        <p><%= @product.description %></p>
            <ul>
                <li>Price:       $ <%= @product.price %></li>
                <li>Sku:           <%= @product.sku %></li>
                <li>Quantity:      <%= @product.quantity %></li>
                <li>Producer Name: <%= @product.producer.name %></li>
                <li>Listing Day:   <%= formatted_date(@product.created_at) %></li>
                <% if @product.favourited_by?(current_user) %>
                <li><%= link_to "Un-Favourite", product_favourite_path(@product, @favourite),
                              method: :delete  %></li>
                <% else %>
                <li><%= link_to "Favourite", product_favourites_path(@product), method: :post %></li>
                <% end %>
            </ul>
            <%= link_to "Buy Now", product_paynows_path(@product), method: :post , class:"btn btn-primary" ,id:"Buy_Now"%>
            <a href="#" class="btn btn-default" id="My_Demo">My Demo</a>
        </div>
  </div>
  <!-- /.row -->
  <br>
  <br>
<div class="demo_container ">
  <div class="container col-md-5">
      <p>Slide The Color Pannel or enter the Hex Code!</p>
      <div class="input-group  demo2">
        <input type="text" value="#00AABB" class="form-control" id="color"/>
        <span class="input-group-addon"><i></i></span>
      </div>
      <br>
  </div>
  <div class="container col-md-4">
      <p>Zoom_in or Zoom_out Demo</p>
      <div class=" col-md-5">
        <button type="button" class="btn btn-default btn-sm" id="zoom_in">
          <span class="glyphicon glyphicon-zoom-in"></span> Zoom-in
        </button>
      </div>
      <div class=" col-md-5">
        <button type="button" class="btn btn-default btn-sm" id="zoom_out">
          <span class="glyphicon glyphicon-zoom-out"></span> Zoom-out
      </button>
      </div>
  </div>
  <div class="container col-md-3">
      <p>Want Image</p>
      <div class=" col-md-3">
        <span class="glyphicon glyphicon-zoom-out" id="PicSmaller"></span>Smaller
      </div>
      <div class=" col-md-3">
        <span class="glyphicon glyphicon-zoom-in" id="Picbigger"></span>Bigger
      </div>
        <p></p>
      <div class=" col-md-6">
        <button type="button" class="btn btn-default btn-xs" id="Exit_Demo">ExitDemo</button>
      </div>
  </div>
<br>
<br>
  <div class="container col-md-12 demo_board ">
        <%= image_tag @product.image, id:"demo_image" %>
        <%= image_tag "frame_1.png" , id:"demo_frame"%>
  </div>
<br>
  <div class="contianer col-md-12">
      <div class="carosel" id="carosel_frame ">
          <div class="carosel-inner slide_listing" id="slide_frame_selected">
           <%= image_tag "frame-820-620-1.png", class: "carosel-item frame_lib" %>
           <%= image_tag "frame-820-620-2.png", class: "carosel-item frame_lib" %>
           <%= image_tag "frame-820-620-3.png", class: "carosel-item frame_lib" %>
           <%= image_tag "frame-820-620-4.png", class: "carosel-item frame_lib" %>
           <%= image_tag "frame-820-620-5.png", class: "carosel-item frame_lib" %>
           <%= image_tag "frame-820-620-6.png", class: "carosel-item frame_lib" %>
           <%= image_tag "frame-820-620-7.png", class: "carosel-item frame_lib" %>
          </div>
          <a class="carosel-control carosel-control-left glyphicon  left glyphicon-chevron-left frame_left" href="#slide" data-slide="next"></a>
          <a class="carosel-control carosel-control-right glyphicon  right glyphicon-chevron-right frame_right" href="#slide" data-slide="prev"></a>
      </div>
      <p>Choose a Frame Here Please!</p>    </div>    <br>
</div>

<!-- Looking For Similar Arts -->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Looking For Similar Arts</h3>
    </div>
</div>

<div class="carosel" id="carosel1 ">
    <div class="carosel-inner slide_listing">
    <%  @product.find_same_product(@product.category_id).each do |pro| %>
    <%#=  image_tag(pro.image ,class="carosel-item")%>
    <%=link_to image_tag(pro.image, class: "carosel-item"), product_path(pro) %>
    <% end %>
    </div>
    <div class="slide_cover">
    </div>
    <a class="carosel-control carosel-control-left glyphicon  left glyphicon-chevron-left " href="#slide" data-slide="next"></a>
    <a class="carosel-control carosel-control-right glyphicon  right glyphicon-chevron-right " href="#slide" data-slide="prev"></a>
</div>
<br>
<div id="reviews">
<h4>Reviews</h4>
  <% if @product.reviews.present?  %>
  <% @product.reviews.each do |rev| %>
    <%= render "/reviews/review", review: rev %>
  <% end %>
  <% end %>
</div>

<div class="clearfix"></div>
<%= render "/reviews/form" %>
