<div class="container">
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Portfolio Item
                <small><%= @product.title %></small>
              </h1>
          </div>
      </div>



        <!-- Portfolio Item Row -->
  <div class="row">

      <div class="col-md-8">
          <%= image_tag @product.image %>
      </div>
      <div class="col-md-4">
        <h3>Art Description</h3>
        <p><%= @product.description %></p>
            <ul>
                <li>Price:       $ <%= @product.price %></li>
                <li>Sku:           <%= @product.sku %></li>
                <li>Quantity:      <%= @product.quantity %></li>
                <li>Producer Name: <%= @product.producer.name %></li>
                <li>Listing Day:   <%= formatted_date(@product.created_at) %></li>
                <% if @product.favourited_by?(current_user) %>
                <li><%= link_to "Un-Favourite", product_favourite_path(@product, @favourite),
                              method: :delete  %></li>
                <% else %>
                <li><%= link_to "Favourite", product_favourites_path(@product), method: :post %></li>
                <% end %>
            </ul>
            <%= link_to "Buy Now", product_paynows_path(@product), method: :post , class:"btn btn-primary" ,id:"Buy_Now"%>
            <a href="#" class="btn btn-default" id="My_Demo">My Demo</a>
        </div>
  </div>
  <!-- /.row -->
  <br>
  <br>

  <div class="row demo_board">
      <div class="demo_page col-md-10">
            <a href="#">
                  <%= image_tag "figure-2-800-500.jpg" %>
            </a>
      </div>
  </div>
      <div class=" row ">
      <div class=" col-md-6">
        <button type="button" class="btn btn-primary" id="Show_now">Show Now</button>
        <button type="button" class="btn btn-primary" id="Color_Pick">Color Pick</button>
      </div >
      <div class="input-group  col-md-6 demo2">
        <input type="text" value="#00AABB" class="form-control" />
        <span class="input-group-addon"><i></i></span>
    </div>
  </div>


<!-- Looking For Similar Arts -->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Looking For Similar Arts</h3>
    </div>
</div>

<div class="carosel" id="carosel1 ">
    <div class="carosel-inner slide_listing">
    <a class="carosel-control carosel-control-left glyphicon  left glyphicon-chevron-left " href="#slide" data-slide="next"></a>
    <%  @product.find_same_product(@product.category_id).each do |pro| %>
    <%=  image_tag(pro.image ,class:"carosel-item")%>
    <% end %>
    <a class="carosel-control carosel-control-right glyphicon  right glyphicon-chevron-right " href="#slide" data-slide="prev"></a>
    </div>
    <!-- <div class="row"> -->

    <!-- </div> -->
    <!-- <a class="left carousel-control" href="#" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    </a> -->
</div>
<!-- // <script> -->
<!-- // $(document).ready(function(){
//     $('a.carosel-control-right').click(function(e) {
//       e.preventDefault();
//       $(this).blur();
//       $(this).parent().find('.carosel-item').first().insertAfter($(this).parent().find('.carosel-item').last());
//     });
//     $('a.carosel-control-left').click(function(e) {
//       e.preventDefault();
//       $(this).blur();
//       $(this).parent().find('.carosel-item').last().insertBefore($(this).parent().find('.carosel-item').first());
//     });
// }); -->
<!-- // </script> -->

<hr>
<div id="reviews">
<h4>Reviews</h4>
  <% if @product.reviews.present?  %>
  <% @product.reviews.each do |rev| %>
    <%= render "/reviews/review", review: rev %>
  <% end %>
  <% end %>
</div>
<div class="clearfix"></div>
<%= render "/reviews/form" %>
