<!DOCTYPE html>
<html>
<head>
  <title>Demo Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <%= csrf_meta_tags %>
  <meta name="stripe-publishable-key" value="<%= Rails.application.secrets.stripe_publishable_key %>">
</head>
<body>
  <div class="container">
    <%= render "/layouts/nav" %>
    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
  </div>
  <%#= render "/layouts/footer" %>

</body>
</html>
